HolidayReservationSystem/HolidayReservationSystemJavaSeClient/src/META-INF/wsdl/localhost_8080/HotelReservationWebService/HotelReservationWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="HotelReservationWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/HotelReservationWebService/HotelReservationWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="findPartnerById">
<part name="parameters" element="tns:findPartnerById"/>
</message>
<message name="findPartnerByIdResponse">
<part name="parameters" element="tns:findPartnerByIdResponse"/>
</message>
<message name="PartnerNotFoundException">
<part name="fault" element="tns:PartnerNotFoundException"/>
</message>
<message name="reservationPrice">
<part name="parameters" element="tns:reservationPrice"/>
</message>
<message name="reservationPriceResponse">
<part name="parameters" element="tns:reservationPriceResponse"/>
</message>
<message name="createLineItem">
<part name="parameters" element="tns:createLineItem"/>
</message>
<message name="createLineItemResponse">
<part name="parameters" element="tns:createLineItemResponse"/>
</message>
<message name="doCheckout">
<part name="parameters" element="tns:doCheckout"/>
</message>
<message name="doCheckoutResponse">
<part name="parameters" element="tns:doCheckoutResponse"/>
</message>
<message name="addItem">
<part name="parameters" element="tns:addItem"/>
</message>
<message name="addItemResponse">
<part name="parameters" element="tns:addItemResponse"/>
</message>
<message name="walkInSearchRoom">
<part name="parameters" element="tns:walkInSearchRoom"/>
</message>
<message name="walkInSearchRoomResponse">
<part name="parameters" element="tns:walkInSearchRoomResponse"/>
</message>
<message name="partnerLogin">
<part name="parameters" element="tns:partnerLogin"/>
</message>
<message name="partnerLoginResponse">
<part name="parameters" element="tns:partnerLoginResponse"/>
</message>
<message name="FailedLoginException">
<part name="fault" element="tns:FailedLoginException"/>
</message>
<message name="retrieveAllPartnerReservations">
<part name="parameters" element="tns:retrieveAllPartnerReservations"/>
</message>
<message name="retrieveAllPartnerReservationsResponse">
<part name="parameters" element="tns:retrieveAllPartnerReservationsResponse"/>
</message>
<message name="retrieveAllRoomTypes">
<part name="parameters" element="tns:retrieveAllRoomTypes"/>
</message>
<message name="retrieveAllRoomTypesResponse">
<part name="parameters" element="tns:retrieveAllRoomTypesResponse"/>
</message>
<message name="findReservationLineItemById">
<part name="parameters" element="tns:findReservationLineItemById"/>
</message>
<message name="findReservationLineItemByIdResponse">
<part name="parameters" element="tns:findReservationLineItemByIdResponse"/>
</message>
<message name="ReservationLineItemNotFoundException">
<part name="fault" element="tns:ReservationLineItemNotFoundException"/>
</message>
<message name="removeAllItemsFromCart">
<part name="parameters" element="tns:removeAllItemsFromCart"/>
</message>
<message name="removeAllItemsFromCartResponse">
<part name="parameters" element="tns:removeAllItemsFromCartResponse"/>
</message>
<portType name="HotelReservationWebService">
<operation name="findPartnerById">
<input wsam:Action="http://ws.session.ejb/HotelReservationWebService/findPartnerByIdRequest" message="tns:findPartnerById"/>
<output wsam:Action="http://ws.session.ejb/HotelReservationWebService/findPartnerByIdResponse" message="tns:findPartnerByIdResponse"/>
<fault message="tns:PartnerNotFoundException" name="PartnerNotFoundException" wsam:Action="http://ws.session.ejb/HotelReservationWebService/findPartnerById/Fault/PartnerNotFoundException"/>
</operation>
<operation name="reservationPrice">
<input wsam:Action="http://ws.session.ejb/HotelReservationWebService/reservationPriceRequest" message="tns:reservationPrice"/>
<output wsam:Action="http://ws.session.ejb/HotelReservationWebService/reservationPriceResponse" message="tns:reservationPriceResponse"/>
</operation>
<operation name="createLineItem">
<input wsam:Action="http://ws.session.ejb/HotelReservationWebService/createLineItemRequest" message="tns:createLineItem"/>
<output wsam:Action="http://ws.session.ejb/HotelReservationWebService/createLineItemResponse" message="tns:createLineItemResponse"/>
</operation>
<operation name="doCheckout">
<input wsam:Action="http://ws.session.ejb/HotelReservationWebService/doCheckoutRequest" message="tns:doCheckout"/>
<output wsam:Action="http://ws.session.ejb/HotelReservationWebService/doCheckoutResponse" message="tns:doCheckoutResponse"/>
</operation>
<operation name="addItem">
<input wsam:Action="http://ws.session.ejb/HotelReservationWebService/addItemRequest" message="tns:addItem"/>
<output wsam:Action="http://ws.session.ejb/HotelReservationWebService/addItemResponse" message="tns:addItemResponse"/>
</operation>
<operation name="walkInSearchRoom">
<input wsam:Action="http://ws.session.ejb/HotelReservationWebService/walkInSearchRoomRequest" message="tns:walkInSearchRoom"/>
<output wsam:Action="http://ws.session.ejb/HotelReservationWebService/walkInSearchRoomResponse" message="tns:walkInSearchRoomResponse"/>
</operation>
<operation name="partnerLogin">
<input wsam:Action="http://ws.session.ejb/HotelReservationWebService/partnerLoginRequest" message="tns:partnerLogin"/>
<output wsam:Action="http://ws.session.ejb/HotelReservationWebService/partnerLoginResponse" message="tns:partnerLoginResponse"/>
<fault message="tns:FailedLoginException" name="FailedLoginException" wsam:Action="http://ws.session.ejb/HotelReservationWebService/partnerLogin/Fault/FailedLoginException"/>
<fault message="tns:PartnerNotFoundException" name="PartnerNotFoundException" wsam:Action="http://ws.session.ejb/HotelReservationWebService/partnerLogin/Fault/PartnerNotFoundException"/>
</operation>
<operation name="retrieveAllPartnerReservations">
<input wsam:Action="http://ws.session.ejb/HotelReservationWebService/retrieveAllPartnerReservationsRequest" message="tns:retrieveAllPartnerReservations"/>
<output wsam:Action="http://ws.session.ejb/HotelReservationWebService/retrieveAllPartnerReservationsResponse" message="tns:retrieveAllPartnerReservationsResponse"/>
</operation>
<operation name="retrieveAllRoomTypes">
<input wsam:Action="http://ws.session.ejb/HotelReservationWebService/retrieveAllRoomTypesRequest" message="tns:retrieveAllRoomTypes"/>
<output wsam:Action="http://ws.session.ejb/HotelReservationWebService/retrieveAllRoomTypesResponse" message="tns:retrieveAllRoomTypesResponse"/>
</operation>
<operation name="findReservationLineItemById">
<input wsam:Action="http://ws.session.ejb/HotelReservationWebService/findReservationLineItemByIdRequest" message="tns:findReservationLineItemById"/>
<output wsam:Action="http://ws.session.ejb/HotelReservationWebService/findReservationLineItemByIdResponse" message="tns:findReservationLineItemByIdResponse"/>
<fault message="tns:ReservationLineItemNotFoundException" name="ReservationLineItemNotFoundException" wsam:Action="http://ws.session.ejb/HotelReservationWebService/findReservationLineItemById/Fault/ReservationLineItemNotFoundException"/>
</operation>
<operation name="removeAllItemsFromCart">
<input wsam:Action="http://ws.session.ejb/HotelReservationWebService/removeAllItemsFromCartRequest" message="tns:removeAllItemsFromCart"/>
<output wsam:Action="http://ws.session.ejb/HotelReservationWebService/removeAllItemsFromCartResponse" message="tns:removeAllItemsFromCartResponse"/>
</operation>
</portType>
<binding name="HotelReservationWebServicePortBinding" type="tns:HotelReservationWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findPartnerById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PartnerNotFoundException">
<soap:fault name="PartnerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="reservationPrice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createLineItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="doCheckout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="walkInSearchRoom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="partnerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FailedLoginException">
<soap:fault name="FailedLoginException" use="literal"/>
</fault>
<fault name="PartnerNotFoundException">
<soap:fault name="PartnerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllPartnerReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAllRoomTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findReservationLineItemById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationLineItemNotFoundException">
<soap:fault name="ReservationLineItemNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="removeAllItemsFromCart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HotelReservationWebService">
<port name="HotelReservationWebServicePort" binding="tns:HotelReservationWebServicePortBinding">
<soap:address location="http://localhost:8080/HotelReservationWebService/HotelReservationWebService"/>
</port>
</service>
</definitions>