HolidayReservationSystem/HolidayReservationSystemJavaSeClient/src/META-INF/wsdl/localhost_8080/HotelReservationWebService/HotelReservationWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.session.ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.session.ejb/">

<xs:element name="FailedLoginException" type="tns:FailedLoginException"/>

<xs:element name="PartnerNotFoundException" type="tns:PartnerNotFoundException"/>

<xs:element name="ReservationLineItemNotFoundException" type="tns:ReservationLineItemNotFoundException"/>

<xs:element name="addItem" type="tns:addItem"/>

<xs:element name="addItemResponse" type="tns:addItemResponse"/>

<xs:element name="createLineItem" type="tns:createLineItem"/>

<xs:element name="createLineItemResponse" type="tns:createLineItemResponse"/>

<xs:element name="doCheckout" type="tns:doCheckout"/>

<xs:element name="doCheckoutResponse" type="tns:doCheckoutResponse"/>

<xs:element name="findPartnerById" type="tns:findPartnerById"/>

<xs:element name="findPartnerByIdResponse" type="tns:findPartnerByIdResponse"/>

<xs:element name="findReservationLineItemById" type="tns:findReservationLineItemById"/>

<xs:element name="findReservationLineItemByIdResponse" type="tns:findReservationLineItemByIdResponse"/>

<xs:element name="findReservationLineItemOfPartner" type="tns:findReservationLineItemOfPartner"/>

<xs:element name="findReservationLineItemOfPartnerResponse" type="tns:findReservationLineItemOfPartnerResponse"/>

<xs:element name="partnerLogin" type="tns:partnerLogin"/>

<xs:element name="partnerLoginResponse" type="tns:partnerLoginResponse"/>

<xs:element name="removeAllItemsFromCart" type="tns:removeAllItemsFromCart"/>

<xs:element name="removeAllItemsFromCartResponse" type="tns:removeAllItemsFromCartResponse"/>

<xs:element name="reservationPrice" type="tns:reservationPrice"/>

<xs:element name="reservationPriceResponse" type="tns:reservationPriceResponse"/>

<xs:element name="retrieveAllPartnerReservations" type="tns:retrieveAllPartnerReservations"/>

<xs:element name="retrieveAllPartnerReservationsResponse" type="tns:retrieveAllPartnerReservationsResponse"/>

<xs:element name="retrieveAllRoomTypesForWebservice" type="tns:retrieveAllRoomTypesForWebservice"/>

<xs:element name="retrieveAllRoomTypesForWebserviceResponse" type="tns:retrieveAllRoomTypesForWebserviceResponse"/>

<xs:element name="walkInSearchRoom" type="tns:walkInSearchRoom"/>

<xs:element name="walkInSearchRoomResponse" type="tns:walkInSearchRoomResponse"/>

<xs:complexType name="walkInSearchRoom">
<xs:sequence>
<xs:element name="arg0" type="tns:roomType" minOccurs="0"/>
<xs:element name="arg1" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg2" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roomType">
<xs:sequence>
<xs:element name="amenities" type="xs:string" minOccurs="0"/>
<xs:element name="bed" type="xs:string" minOccurs="0"/>
<xs:element name="capacity" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="lineItems" type="tns:reservationLineItem" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="rankRoom" type="xs:string" minOccurs="0"/>
<xs:element name="roomRates" type="tns:roomRate" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="roomRecords" type="tns:roomRecord" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="roomTypeId" type="xs:long" minOccurs="0"/>
<xs:element name="size" type="xs:string" minOccurs="0"/>
<xs:element name="typeName" type="xs:string" minOccurs="0"/>
<xs:element name="typeStatus" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservationLineItem">
<xs:sequence>
<xs:element name="amount" type="xs:decimal" minOccurs="0"/>
<xs:element name="checkInDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="checkOutDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="reservationLineItemId" type="xs:long" minOccurs="0"/>
<xs:element name="room" type="tns:roomRecord" minOccurs="0"/>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roomRecord">
<xs:sequence>
<xs:element name="reservationLineItem" type="tns:reservationLineItem" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="roomNum" type="xs:string" minOccurs="0"/>
<xs:element name="roomRecordId" type="xs:long" minOccurs="0"/>
<xs:element name="roomStatus" type="xs:string" minOccurs="0"/>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roomRate">
<xs:sequence>
<xs:element name="endRateDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="rateName" type="xs:string" minOccurs="0"/>
<xs:element name="ratePerNight" type="xs:decimal" minOccurs="0"/>
<xs:element name="roomRateId" type="xs:long" minOccurs="0"/>
<xs:element name="roomRateStatus" type="xs:string" minOccurs="0"/>
<xs:element name="roomRateType" type="tns:roomRateTypeEnum" minOccurs="0"/>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
<xs:element name="startRateDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="walkInSearchRoomResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findReservationLineItemById">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findReservationLineItemByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservationLineItem" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReservationLineItemNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservationPrice">
<xs:sequence>
<xs:element name="arg0" type="tns:roomType" minOccurs="0"/>
<xs:element name="arg1" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg2" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservationPriceResponse">
<xs:sequence>
<xs:element name="return" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerLogin">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerLoginResponse">
<xs:sequence>
<xs:element name="return" type="tns:partner" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partner">
<xs:sequence>
<xs:element name="partnerId" type="xs:long" minOccurs="0"/>
<xs:element name="partnerName" type="xs:string" minOccurs="0"/>
<xs:element name="partnerReservations" type="tns:partnerReservation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerReservation">
<xs:complexContent>
<xs:extension base="tns:reservationRecord">
<xs:sequence>
<xs:element name="partner" type="tns:partner" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="reservationRecord" abstract="true">
<xs:sequence>
<xs:element name="reservationDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="reservationId" type="xs:long" minOccurs="0"/>
<xs:element name="reservationLineItems" type="tns:reservationLineItem" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="totalAmount" type="xs:decimal" minOccurs="0"/>
<xs:element name="totalLineItem" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FailedLoginException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PartnerNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createLineItem">
<xs:sequence>
<xs:element name="arg0" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg1" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg2" type="xs:decimal" minOccurs="0"/>
<xs:element name="arg3" type="tns:roomType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createLineItemResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservationLineItem" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="doCheckout">
<xs:sequence>
<xs:element name="arg0" type="tns:partner" minOccurs="0"/>
<xs:element name="arg1" type="xs:int" minOccurs="0"/>
<xs:element name="arg2" type="xs:decimal" minOccurs="0"/>
<xs:element name="arg3" type="tns:reservationLineItem" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="doCheckoutResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findReservationLineItemOfPartner">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
<xs:element name="arg1" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findReservationLineItemOfPartnerResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservationLineItem" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllPartnerReservations">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllPartnerReservationsResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservationLineItem" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addItem">
<xs:sequence>
<xs:element name="arg0" type="tns:reservationLineItem" minOccurs="0"/>
<xs:element name="arg1" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addItemResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservationLineItem" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findPartnerById">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findPartnerByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:partner" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeAllItemsFromCart">
<xs:sequence>
<xs:element name="arg0" type="tns:reservationLineItem" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeAllItemsFromCartResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveAllRoomTypesForWebservice">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveAllRoomTypesForWebserviceResponse">
<xs:sequence>
<xs:element name="return" type="tns:roomType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="roomRateTypeEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="PUBLISHED"/>
<xs:enumeration value="NORMAL"/>
<xs:enumeration value="PEAK"/>
<xs:enumeration value="PROMOTION"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>